@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
  max-height: 100vh;
}

body {
  background: #E4D8B4;
}

nav {
  display: flex;
  background-color: #27282c;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  max-width: 72%;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 6px;
}
.nav-main{
  display:flex;
  gap:32px;
}
.logo > img {
  max-width: 32px;
  max-height: 32px;
}
.logo {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
  color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 6px;
}
.logo span{
  color:rgb(169, 185, 185);
  font-size: 12px;
}
.nav-links{
  display:flex;
  gap: 40px;
  list-style: none;
}

.nav-main > a {
  text-decoration: none;
}
.nav-mobile > a {
  text-decoration: none;
}

.nav-mobile{
  display:none;
  background-color:var(--light-black);
  padding:48px;
  list-style: none;
  transition: all 15s ease;
}
.menu{
  display:none;
}

.cta > a {
  text-decoration: none;
}

.btn{
  padding:8px 16px;
  border-radius:6px;
  border:none;
  
}

.btn-primary {
  background-color: gray;
  color: white;
  margin-left: 8px;
  display: flex;
  align-items: center;
  transition:all 0.5s ease;
}

.btn-primary:hover, .btn-secondary:hover{
  background-color: #7D7259;
  color: orange;
  transition:all 0.5s ease;
}

#app {
  width: 100vw;
  height: 100vh;
  background: #E4D8B4;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#chat-container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
  padding-top: 5vh;
}

.helper_textContainer {
  color: #000;
  font-weight: 500;
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
}
span#keyCommandText {
  color: rgba(255,165,0,0.56);
}

/* hides scrollbar */
#chat-container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
  border-radius: 6px;
}

.ai {
  background: #d2c59d;
  border-radius: 6px;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #a4cbb4;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #EF9995;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;

  color: #000;
  font-size: 20px;

  max-width: 100%;
  overflow-x: scroll;

  /*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
  white-space: pre-wrap; 

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nav {
  display: flex;
  padding: 30px 10px;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.nav img {
  width: 70px;
  height: 60px;
  padding-left: 5px;
  padding-right: 5px;
}

.fade-container {
  position: fixed;
  top: 10vh;
  height: 10vh;
  width: 100vw;
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(228,216,180,1) 80%, rgba(228,216,180,1) 100%);
}

#jarvis {
  text-decoration: underline;
  margin-right: 4px;
}

#jarvis a {
  color: #000;
}

.footer {
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer img {
  max-height: 40px;
  max-width: 40px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.favorite-icon {
  max-width: 40px;
  max-height: 40px;
  cursor: pointer;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

form {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 8px;
  background: transparent;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 8px;
  box-shadow: 0px 0px 10px #323232;
  border-radius: 6px;
}

textarea {
  width: 100%;

  color: #000;
  font-size: 18px;

  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
  display: flex;
  align-items: center;
}

form img {
  width: 30px;
  height: 30px;
}

/** MOBILE RESPONSIVE **/
@media only screen and (max-width: 480px) {
  form {
    max-width: 96%;
  }
  * {
    max-height: 90vh;
  }
  .nav, .wrapper {
    max-width: 96%;
    margin: 0 auto;
  }
  .nav {
    margin-top: 1.5%;
  }
  .helper_textContainer {
    display: none;
  }
}

/** TABLET / DESKTOP RESPONSIVE **/
@media only screen and (min-width: 968px) {
  * {
    max-height: 100vh;
    max-width: 100%;
  }
  .wrapper {
    width: 72%;
    padding: 15px;
    margin: 0 auto;
  }
}